.gradient-background{
    background-color: #FFACAC;
  
}
.circle{
    height: 150;
    width: 150;
    border-radius: 50%;
}
.skills{
    background-color: #FFBFA9;
}
.ach{
    background-color: #FFEBB4;
}
.footer{
    background-color: #FBFFB1;
}